@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:Cormorant Garamond ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*navigation*/

.nav-bar{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding:0px 300px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo{

    width: 206px;
}
.nav-bar ul{
    display: flex;
    gap: 56px;
    list-style: none;
}
.nav-bar a {
    text-decoration: none;
    color: black;
}

.contact{
    padding: 15px 30px;
    border-radius: 24px;
    background-color: #e3d3bc;
}
.contact:hover{
   background-color: black;
   color: #e3d3bc;
}
.nav-bar a:hover  {
   color: #e3d3bc;
}

.nav-icons{
    padding: 0px 16px;
    display: flex;
    gap: 22px;
    align-items: flex-end;
}

.nav-icons i:hover{
    color: #e3d3bc;
}

/* hero section*/
.hero-section{
    padding: 200px 300px;
    background-image:url("Assets/pexels-dada-_design-240566386-12277637.jpg");
    background-size:cover;
    background-position:bottom;
    background-repeat:no-repeat;
    position: relative;
}

.h1 p{

    font-family:"Cormorant Garamont", serif;
    font-size: 48px;

}
.h1 span{
    color: #804600;
}
.h6{
    font-size:18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
}

.headings{
    display:inline-block;
    width:100%;
    padding-bottom: 48px;
}
.buttons a{
    text-decoration: none;
    color: black;
}
.primary-button{
    padding: 15px 30px;
    border-radius: 24px;
    background-color: #e3d3bc;
    font-weight: 700px;
}
.primary-button:hover{
    background-color: black;
    color: azure;
}
.secondary-button{
    padding: 15px 30px;
    border-radius: 24px;
    border:1px solid #e2d2bb;
    font-weight: 700;
}
.secondary-button:hover{
    background-color: #e2d2bb;
    color: #ffffff;
}
.primary-button{
    margin-right:16px;
 }

 .brand-identity{

    padding: 100px 300px;
    background-color: #E3D3BC;
    align-items: center;
    width: 100%;
    min-height: 500px;
    position: relative;
    

 }

 .section-heading{

    display: flex;
    justify-content: space-between;
  
 }

 .section-heading p{

    margin-left:72px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    
 }
.h3{

    font-size: 36px;
    color: white;
 }


.image{

    position: absolute;
    top: 180px;

}
.image img{

    width:1320px;
    height: 750px;
    background-size: cover;
    background-position:center;
    margin-top: 60px;
    border-radius: 15px;
   
    
}

.play-button{
    color: white;
    padding: 25px 30px;
    background-color: #e2d2bb;
    position: inherit;
    border-radius: 100px;
    left:50%;
    top:60%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.made-for{

    padding: 600px 300px 50px;
    display: flex;
    justify-content: center;
    
}

.left-image img{

    width: 759px;
    height: 800px;
    border-radius: 15px;
   
}

.right-content{

    display: flex;  
    flex-direction: column;
    margin-left: 24px;
    gap: 24px;
}

.content{

    padding: 40px 40px;
    background-color: #705D3F;
    border-radius: 15px;
}

.content p{

    color: rgb(210, 210, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottom-image img{

    height: 590px;
    width: 546px;
}

.content h3{

   margin-bottom: 8px;
}

marquee{
    font-size: 52px;
    padding: 50px 0px;
}

.shop-by-category{

    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 64px;

}

.heading{

    display: flex;
    justify-content: space-between;
}

.sections{

    display: flex;
    justify-content: space-between;
    gap: 16px;
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:8px;
    

}

.heading h3{


    font-size: 36px;

}

.sections pre:hover{
    color: lightslategray;
}



.card-row1{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 64px;
}

.card-row2{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.card-details- img{

    height: 300px;
    width: 300px;
}


.card-details- h6{

    font-size: 18px;
}

.card-details- p{

    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #777;

}


.details{

    display: flex;
    gap: 180px;
}

.details i{

    rotate: 270deg;
}


.details p{

    font-size: 16px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}

.featured{

    padding: 100px 300px;
}

.content-container{

    padding: 70px 100px;
    background-color: #B4B897;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 64px;
}
.featured-cards {

    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.card-holder { 

    background-image:url(Assets/Frame\ 43.jpg);
    background-position: center;
    background-size: cover;
    width: 417px;
    height: 300px;
    border-radius: 20px;
    padding:10px;
    position: relative;
}

.featured-card-details 
{

    padding: 20px 20px 30px;
    backdrop-filter: blur(8px);
    background-color: hwb(0 0% 100% / 0.371);
    border-radius: 10px;   
    position: absolute;
    top: 180px;
    left: 20px;
    right: 20px;
}

.featured-card-details h6{

    font-size: 18px;
    font-weight: 600;
    color: white;
}

.featured-card-details p{
    
    
    font-size: 16px;
    font-weight:300px;
    color: rgb(228, 228, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.brand-story{

    padding:100px 300px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.story-heading{

    display: flex;
    justify-content: space-between;

}

.story-heading right-text{

    padding-left: 136px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-containers {

    position: relative;
    background-image: url(Assets/Frame\ 53.png);
    height: 600px;
    border-radius: 25px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}

.image-containers img{

    position: absolute;
    height: 500px;
    width: 700px;
    left: 650px;;
    top: 240px;
}
.newsletter-faq{

    width:100%;
    padding:100px 300px;
}
.container{
    display:flex;
    justify-content:space-between;
    gap:80px;
}
.newsletter{

    width:48%;    

}
.newsletter h2{

    font-size:48px;
    margin-bottom:20px;
}

.newsletter p{

    color:#777;
    font-size:16px;
    line-height:1.6;
    margin-bottom:60px;
}
.subscribe-box{

    background:#fff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px;

    border-radius:60px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.subscribe-box input{

   
    border:none;
    
    padding:15px 20px;

    font-size:18px;

    
}

.subscribe-box a{

    border:none;
    text-decoration: none;
    color: #000;

    background:#DDC49A;

    padding:18px 40px;

    border-radius:40px;

    cursor:pointer;

    font-size:16px;
    font-weight:bold;
}

.subscribe-box a:hover{

    background-color: black;
    color: #e2d2bb;
}

.faq{

    width:48%;
}

.faq h2{

    font-size:36px;

    margin-bottom:50px;
}

.question{

    padding:30px 10px;

    border-bottom:1px solid #d9d9d9;
}

.question h3{

    font-size:18px;
    font-weight:600;
}

footer{

    background:linear-gradient(
        to top,
        #E3D3BC 0%,
        #ffffff 100%
    );

    padding:80px  40px;
}

.footer-container{

    padding: 50px 200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:60px;

    flex-wrap:wrap;
}

.footer-left{

    width:34%;
}

.footer-logo{

    width:220px; 

    margin-bottom:25px;
}

.footer-left p{

    color:#555;

    line-height:1.6;

    margin-bottom:40px;

    font-size:18px;
}

.social-icons{

    display:flex;

    gap:25px;
}

.social-icons a{

    color:#000;

    font-size:28px;

}
.footer-links{

    display:flex;

    flex-direction:column;
}

.footer-links h3{

    font-size:34px;

    margin-bottom:30px;
}

.footer-links a{

    text-decoration:none;

    color:#555;

    margin-bottom:20px;

    font-size:20px;

    
}
.footer-bottom{



    text-align:center;

    border-top:1px solid rgba(0,0,0,.15);

    padding-top:30px;
}

.footer-bottom p{

    font-size:18px;
}

.footer-bottom a{

    color:#000;
    margin-left: 16px;
}